.fl-root {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-Width: 345px;
   background-color: rgb(255, 255, 255);
   border-radius: 4px;
    
  }
.fl-inline {
    display: inline,
  }

  .fl-follow-container{
    margin-left: 2px;
  }
 